
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');


body{
    font-family: Cormorant, serif; 
    
    font-weight: 300;  
}



h1{
    display: inline-block;
    font-weight: 300;
    margin: 0 32px 0 0;
}


.links li{
    display: inline-block;
}



.links a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;

}

.links ul{
    padding: 0;
}

.links{
    display: inline-block;
}

.navbar{
    margin: 32px;
}

a.active{
    border-bottom: 1px solid black;
}

.card{
    width: 49.75%;
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;
}
.card img{
    width: 100%;
    height: 500px;
    object-fit: cover;

}


.card img:hover{
    opacity: 0.9;
}

.card h2{
    display: inline-block;
    margin: 8px 0 5px 0;
    font-weight: 300;
}

.gallery{
    padding: 16px;
}

.about{
    width: 40%;
    min-width: 600px;
    margin: 100px 0 30px 50px;
}

.about h3{
    font-size: 40px;
    font-weight: 300;
}

.contact{
    margin-top: 100px;
}

.contact p{
    margin: 0;
    font-size: 20px;
}

.cta{
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 8px;
    margin-top: 0;
}
